<%= link_to 'Back to Cats', pins_path %>

<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
			<%= image_tag @pin.image.url(:large) %>
			</div>
			<div class="panel-body">
				<p><%= @pin.description %></p>
				<p><%= @pin.user.name if @pin.user %></p>
				
				<% if @pin.user == current_user %>
					<%= link_to edit_pin_path(@pin) do %>
		              <span class="glyphicon glyphicon-pencil"></span> Edit
		            <% end %> | 
		            <%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</div>
		</div>
	</div>
</div>




